[Unit]
Description=Beszel Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT={{ beszel_port }}"
Environment="KEY={{ beszel_key }}"
Environment="TOKEN={{ beszel_token }}"
{% if beszel_extra_filesystems %}
Environment="EXTRA_FILESYSTEMS={{ beszel_extra_filesystems }}"
{% endif %}
{% if beszel_root_filesystem %}
Environment="FILESYSTEM={{ beszel_root_filesystem }}"
{% endif %}
{% if beszel_primary_temp_sensor %}
Environment="PRIMARY_SENSOR={{ beszel_primary_temp_sensor }}"
{% endif %}
{% if beszel_temp_sensors %}
Environment="SENSORS={{ beszel_temp_sensors }}"
{% endif %}
ExecStart={{ beszel_home_dir }}/beszel-agent
Restart=on-failure
RestartSec=5
StateDirectory=beszel-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true
AmbientCapabilities=CAP_SYS_RAWIO CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_SYS_RAWIO CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target